:root {
  --accent-text-color: #2196f3;
  --primary-text-color: #212121;
  --hero-text-color: #ffffff;
  --secondary-text-color: #757575;
  --secondary-background-color: #f5f4fa;
  --primary-background-color: #ffffff;
  --accent-background-color: #2196f3;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);

  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}
li:not(:last-child) {
  margin-right: 0;
}
.hero-title {
  display: none;
}
.work-item {
  display: ;
}

button:hover,
button:focus {
  color: var(--hero-text-color);
  background-color: var(--accent-background-color);
}
button {
  display: inline-block;
  border-radius: 4px;
  min-width: 73px;
  padding: 22px 6px;

  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);

  font-family: inherit;
  text-decoration: none;
  text-align: center;
}

.portfolio-title {
  font-style: normal;
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.examples-item {
  display: inline-block;
  width: calc((100% - 30px * 2) / 3);
}

.examples-item:nth-child(3n) {
  margin-right: 0;
}
.examples-item:not(:last-child) {
  margin-right: 30px;
}
